In [1]:
import pandas as pd

In [19]:
df = pd.read_csv(r"C:\Users\markb\OneDrive\Desktop\results.csv")
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45310,2023-11-21,Wales,Turkey,1,1,UEFA Euro qualification,Cardiff,Wales,False
45311,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False
45312,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False
45313,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False
45314,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False

In [8]:
df['home_score'].mean()

1.7393136930376256

In [9]:
df['away_score'].mean()

1.1782412004854905

In [13]:
df.groupby('country')['home_score'].sum().idxmax()

'United States'

In [14]:
df['tournament'].value_counts().head(3)

tournament
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: count, dtype: int64

In [35]:
fifa_df = df[df['tournament'] == 'FIFA World Cup']
fifa_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
44349,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True
44351,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True
44352,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True
44356,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True
44358,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True

In [39]:
fifa_df.loc[:, 'total_score'] = fifa_df['home_score'] + fifa_df['away_score']

In [41]:
fifa_goals_by_country = fifa_df.groupby('country')['total_score'].sum()
fifa_goals_by_country

country
Argentina        102
Brazil           259
Chile             89
England           89
France           255
Germany          244
Italy            185
Japan             71
Mexico           227
Qatar            172
Russia           169
South Africa     145
South Korea       90
Spain            146
Sweden           126
Switzerland      140
United States    141
Uruguay           70
Name: total_score, dtype: int64

In [43]:
country_highest_fifa_goals = fifa_goals_by_country.idxmax()
country_highest_fifa_goals

'Brazil'